// Custom Fonts
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100&display=swap');

// Variables:

/* RGB */
$background-blue: rgba(44, 59, 79, 1);
$color2: rgba(0, 165, 207, 1);
$color3: rgba(159, 255, 203, 1);
$color4: rgba(37, 161, 142, 1);
$ftp-green: rgba(122, 229, 130, 1);


// Global CSS

body {
  background-color: $background-blue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Functional CSS
.hidden {
  display: none
}

.flex-column {
  display: flex;
  flex-direction: column
}

.z-0 {
  z-index: 0
}

.z-1 {
  z-index: 1
}

@keyframes slide-in {
  0% { top:: 140px; opacity: 0% }
  100% { top: 210px; opacity: 100% }
}

.slide-in {
  position: absolute;
  top: 210px;
  animation-name: slide-in;
  animation-duration: 1s
}

// Commitment form CSS
.commitment-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px
}

.commitment-form-group {
  height: fit-content;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.commitment-form-comp {
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  width: 600px;
  margin: 10px
}

.commitment-form-button {
  height: 47px;
  border-radius: 5px;
  border: none;
  margin-left: 8px;
  background-color: $ftp-green;
}


// Trending/Stats
.total-commitments-stat {
  font-family: 'Work Sans', sans-serif;
  font-size: 60px;
}


// Earth Graphic CSS
.earth-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.earth-img {
  width: 60%
}

.cloud_1, .cloud_2 {
  position: absolute;
  width: 10%
}

.cloud_1 {
  top: 16px;
  left: 500px;
}

.cloud_2 {
  top: 400px;
  left: 1200px;
}
